<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Key Word...">
</div>
<table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Code</th>
      <th>Type</th>
      <th>Brand</th>
      <th>quantity</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of list | filter:searchText">
        <td (click)="onEdit(item)">{{item.name}}</td>
        <td (click)="onEdit(item)">{{item.code}}</td>
        <td (click)="onEdit(item)">{{item.type}}</td>
        <td (click)="onEdit(item)">{{item.brand}}</td>
        <td (click)="onEdit(item)">{{item.quantity}}</td>
        <td><a class="btn text-danger" (click)="onDelete(item.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>