<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Key Word...">
</div>
<table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Code</th>
      <th>Type</th>
      <th>Brand</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let it of list | filter:searchText">
        <td (click)="onEdit(it)">{{it.name}}</td>
        <td (click)="onEdit(it)">{{it.code}}</td>
        <td (click)="onEdit(it)">{{it.type}}</td>
        <td (click)="onEdit(it)">{{it.brand}}</td>
        <td (click)="onEdit(it)">{{it.quantity}}</td>
        <td><a class="btn text-danger" (click)="onDelete(it.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>