<h1 class="display-4">Item Register</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <input name="name" #position="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Name" required>
    <!-- <div *ngIf="name.invalid && name.touched" class="validation-error">This field is required.</div> -->
  </div>
  <div class="form-group">
    <input name="code" #fullName="ngModel" [(ngModel)]="service.formData.code" class="form-control" placeholder="Code" required> 
  <!-- <div *ngIf="code.invalid && code.touched" class="validation-error">This field is required.</div> -->
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="type" #empCode="ngModel" [(ngModel)]="service.formData.type" class="form-control" placeholder="Type" required>
      <!-- <div *ngIf="type.invalid && type.touched" class="validation-error">This field is required.</div> -->
    </div>
    <div class="form-group  col-md-6">
      <input name="brand" #mobile="ngModel" [(ngModel)]="service.formData.brand" class="form-control" placeholder="Brand" required>
      <!-- <div *ngIf="brand.invalid && brand.touched" class="validation-error">This field is required.</div> -->
    </div>
    <!-- <div class="form-group  col-md-6">
      <select name="status" #status="ngModel" [(ngModel)]="service.formData.status" class="form-control">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </div> -->
  </div>
  <div class="form-group">
    <input name="quantity" #mobile="ngModel" [(ngModel)]="service.formData.quantity" class="form-control" placeholder="Quantity" required>
    <!-- <div *ngIf="quantity.invalid && quantity.touched" class="validation-error">This field is required.</div> -->
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>

</form>
<!-- <script>
  function check() {
    document.getElementById("myCheck").checked = true;
  }
  
  function uncheck() {
    document.getElementById("myCheck").checked = false;
  }
</script> -->
  